<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />

    <title>Rumsan - Login</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <style type="text/css">
      .login-form {
        width: 340px;
        margin: 30px auto;
      }
      .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
      }
      .login-form h2 {
        margin: 0 0 15px;
      }
      .login-form .hint-text {
        color: #777;
        padding-bottom: 15px;
        text-align: center;
      }
      .form-control,
      .btn {
        min-height: 38px;
        border-radius: 2px;
      }
      .login-btn {
        font-size: 15px;
        font-weight: bold;
      }
      .or-seperator {
        margin: 20px 0 10px;
        text-align: center;
        border-top: 1px solid #ccc;
      }
      .or-seperator i {
        padding: 0 10px;
        background: #f7f7f7;
        position: relative;
        top: -11px;
        z-index: 1;
      }
      .social-btn .btn {
        margin: 10px 0;
        font-size: 15px;
        text-align: left;
        line-height: 24px;
      }
      .social-btn a:hover,
      .social-btn a:focus,
      .social-btn a:active {
        text-decoration: none !important;
        color: #ffffff;
      }
      .social-btn .btn i {
        float: left;
        margin: 4px 15px 0 5px;
        min-width: 15px;
      }
      .btn-facebook {
        background: #4267b2;
      }
      .social-btn a {
        color: #fff;
      }
      .input-group-addon .fa {
        font-size: 18px;
      }
    </style>
  </head>

  <body class="">
    <div class="loginColumns animated fadeInDown" style="background: white;">
      <div class="row">
        <div class="col-md-6 text-center">
          <img src="/img/logos/rahat-logo.png" width="300" style="margin-bottom: 20px;" />
          <h1>Rahat</h1>
        </div>
        <div class="col-md-6">
          <div class="ibox-content">
            <h3>User Login:</h3>
            <form class="m-t" id="loginForm">
              <div class="form-group">
                <input
                  type="email"
                  name="username"
                  class="form-control"
                  placeholder="Username"
                  value=""
                  required=""
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  placeholder="Password"
                  class="form-control"
                  placeholder="Password"
                  required=""
                />
              </div>
              <p>
                <a href="#" data-toggle="modal" data-target="#forgotPassModal">Forgot Password?</a>
              </p>
              <button type="submit" class="btn btn-primary block full-width m-b">
                Login
              </button>
              <div class="or-seperator"><i>or</i></div>
              <div class="text-center social-btn">
                <!-- <a href="/auth/facebook" class="btn btn-facebook btn-block"
                  ><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a
                >
                <a href="/auth/google" class="btn btn-danger btn-block"
                  ><i class="fa fa-google"></i> Sign in with <b>Google</b></a
                > -->
                <a id="metamaskLogin" class="btn btn-facebook btn-block bg-warning"
                  ><i class="fa fa-facebook"></i> Log in with <b>Metamask</b></a
                >
              </div>
              <a class="btn btn-sm btn-white btn-block" href="/agency/registration">Sign-Up</a>
            </form>
            <p class="m-t"><small>Please do not share your login credentials.</small></p>
          </div>
        </div>
      </div>
      <div id="msg" class="alert alert-danger row ml-3 mr-3" style="display: none;"></div>
      <div id="info" class="alert alert-success row ml-3 mr-3" style="display: none;"></div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <img src="/img/favicon.png" width="16" />&nbsp;&nbsp;<strong>eSatya</strong>
        </div>
        <div class="col-md-6 text-right">
          <small>© 2018 <a href="https://rumsan.com" target="_blank">Rumsan Associates</a></small>
        </div>
      </div>
    </div>
    <!-- Mainly scripts -->
    <script src="/js/app/vendors.js"></script>
    <script src="/js/app/auth.js"></script>
  </body>
</html>

<div id="forgotPassModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><h4 class="modal-title">Recover Your Password</h4></div>
      <div class="modal-body">
        <form action="" id="frmForgotPass" method="post">
          <div class="form-group">
            <label for="forgot_email">Enter recovery email:</label>
            <input
              type="email"
              class="form-control"
              id="forgot_email"
              name="forgot_email"
              placeholder="email address"
              required
            />
          </div>

          <div class="hr-line-dashed"></div>
          <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-2">
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                Close
              </button>
              <button class="btn btn-primary btn-sm" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
