<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rumsan - Passport Control</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <style>
      /* Center the loader */
      #loader {
        position: fixed;
        left: 50%;
        top: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
      }
    </style>
    <script>
      const access_token = "<%=access_token%>";
      const redirect_url = "<%=redirect_url%>";
    </script>
  </head>
  <body style="margin:0;">
    <div id="loader">
      <img src="/img/loader.gif" style="width: 200px;" />
      <div>
        <% if (typeof title!='undefined') { %>Welcome <b><%=user_fname%></b>.<% } %><br />Hang on...
        while we are verify your passport.
      </div>
    </div>
    <script src="/js/app/vendors.js"></script>
    <script src="/js/app/auth.passport.js"></script>
  </body>
</html>
