<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <center>
            <img alt="image" class="rounded-circle" src="/img/logos/rumsan.png" width="50%" />
            <span class="block m-t-xs font-bold text-white">Rumsan Associates</span>
          </center>
        </div>
        <div class="logo-element">
          <img alt="RS" src="/img/logos/rumsan.png" height="85%" width="70%" />
        </div>
      </li>
      <li class="<% if (typeof name!='undefined' && name == 'dashboard') { %> active <% } %>">
        <a href="/"><i class="fa fa-home"></i> <span class="nav-label">Dashboard</span></a>
      </li>
      <li id="agency" style="display: none;"
        class="<% if (typeof name!='undefined' && name == 'agency') { %> active <% } %>">
        <a href="/agency"><i class="fa fa-circle-o"></i> <span class="nav-label">Agency</span></a>
      </li>
      <li id="aid" style="display: none;"
        class="<% if (typeof name!='undefined' && name == 'agency') { %> active <% } %>">
        <a href="/aid"><i class="fa fa-circle-o"></i> <span class="nav-label">Aid Projects</span></a>
      </li>
      <li id="beneficiary" style="display: none;"
        class="<% if (typeof name!='undefined' && name == 'agency') { %> active <% } %>">
        <a href="/beneficiary"><i class="fa fa-circle-o"></i> <span class="nav-label">Beneficiary</span></a>
      </li>
      <li id="vendor" style="display: none;"
        class="<% if (typeof name!='undefined' && name == 'agency') { %> active <% } %>">
        <a href="/vendor"><i class="fa fa-circle-o"></i> <span class="nav-label">Vendor</span></a>
      </li>
      <!-- <li
        id="bank"
        style="display: none;"
        class="<% if (typeof name!='undefined' && name == 'agency') { %> active <% } %>"
      >
        <a href="/bank"><i class="fa fa-circle-o"></i> <span class="nav-label">Banks</span></a>
      </li>
      <li
        id="bank"
        class="<% if (typeof name!='undefined' && name == 'agency') { %> active <% } %>"
      >
        <a href="/transactions"
          ><i class="fa fa-circle-o"></i> <span class="nav-label">Unapproved Changes</span></a
        >
      </li> -->
      <li id="mnuMgmt" style="display: none;"
        class="<% if (typeof name!='undefined' && name == 'admin') { %> active <% } %>">
        <a href="#"><i class="fa fa-briefcase"></i> <span class="nav-label">Administration</span><span
            class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li>
            <a href="/users"><i class="fa fa-user"></i>Users</a>
          </li>
          <li>
            <a href="/roles"><i class="fa fa-sitemap"></i> <span class="nav-label">Roles</span></a>
          </li>
          <li>
            <a href="/settings"><i class="fa fa-cogs"></i>Settings</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>