SKIP_PREFLIGHT_CHECK=true
REACT_APP_API_SERVER=http://localhost:3601
REACT_APP_BLOCKCHAIN_NETWORK=https://testnetwork.esatya.io
REACT_APP_BLOCKCHAIN_FAUCET=https://faucet.testnetwork.esatya.io/gimmie
REACT_APP_BLOCKCHAIN_FAUCET_AUTH_TOKEN=qwertyuiop
REACT_APP_BLOCKCHAIN_EXPLORER=https://explorer.testnetwork.esatya.io
REACT_APP_IPFS_GATEWAY=https://ipfs.rumsan.com
PORT=4601
