<!DOCTYPE html>
<html>
  <head>
    <% include ./_layouts/head %>
    <style>
      .alignstatus {
        align-self: center;
      }
    </style>
  </head>

  <body class="md-skin">
    <% include ./_layouts/header %>
    <div id="wrapper">
      <% include ./_layouts/sidebar %>
      <div id="page-wrapper" class="gray-bg">
        <% include ./_layouts/search %>

        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-sm-4"><h2>This is main title</h2></div>
          <div class="col-sm-8">
            <div class="title-action">
              <a href="" class="btn btn-primary">This is action area</a>
            </div>
          </div>
        </div>

        <% include ./_layouts/footer %>
      </div>
    </div>
    <% include ./_layouts/foot %>
    <script>
      /*$.ajax({
          url:{api_url},
          headers:{access_token: $.cookie('access_token')},
          method:'POST',
          data: {formData}
      })
      .done(d => {
        console.log(d);
      })
      .fail(e=>{
          console.log(e.responseJSON);

      }) */
    </script>
  </body>
</html>
