<!DOCTYPE html>
<html>
  <head>
    <% include ../_layouts/head %>
    <link href="/css/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="/css/plugins/select2/select2.min.css" rel="stylesheet" />
    <style>
      .alignstatus {
        align-self: center;
      }
      .ibox-title {
        padding: 15px 40px 5px 40px;
      }
    </style>
  </head>

  <body class="md-skin">
    <% include ../_layouts/header %>
    <div id="wrapper">
      <% include ../_layouts/sidebar %>
      <div id="page-wrapper" class="gray-bg">
        <% include ../_layouts/search %>

        <div class="wrapper wrapper-content animated fadeInRight">
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title">
                  <div class="row">
                    <div class="col-sm-4">
                      <h2>
                        Transactions
                        <small
                          class="badge badge-warning"
                          style="font-weight: normal;"
                          id="txtFilter"
                        ></small>
                      </h2>
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-2 text-right">
                      <button id="btnAgencyAdd" class="btn btn-primary">
                        <i class="fa fa-plus-circle"></i>&nbsp;Add Transaction
                      </button>
                    </div>
                  </div>
                </div>
                <div class="ibox-content" style="padding-top: 5px; min-height: 500px;">
                  <div class="table-responsive">
                    <table
                      id="transaction-table"
                      class="table table-striped table-bordered table-hover toggle-arrow-tiny"
                    >
                      <thead>
                        <tr class="footable-even">
                          <th>Name</th>
                          <th>Origin</th>
                          <th>Sender</th>
                          <th>Created At</th>
                          <th width="100" style="text-align: center;">Action</th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% include ../_layouts/footer %>
      </div>
    </div>
    <% include ../_layouts/foot %>

    <!--Data Tables -->
    <script
      type="text/javascript"
      language="javascript"
      src="/js/plugins/datatables/datatables.min.js"
    ></script>
    <script src="/js/plugins/select2/select2.min.js"></script>
    <script src="/js/app/transaction.js"></script>
  </body>
</html>
