body,
html {
	font-family: 'Roboto, Poppins, Lato';
}
.error-box {
	height: 100%;
	position: fixed;
	background: url(../../assets/images/background/auth-bg.jpg) no-repeat center center #fff;
	background-size: cover;
	width: 100%;
}
.text-grey {
	color: #212529;
}
a:hover,
a:focus {
	color: #212529;
}
#main-wrapper[data-layout='vertical'] .topbar .navbar-collapse[data-navbarbg='skin1'],
#main-wrapper[data-layout='vertical'] .topbar[data-navbarbg='skin1'],
#main-wrapper[data-layout='horizontal'] .topbar .navbar-collapse[data-navbarbg='skin1'],
#main-wrapper[data-layout='horizontal'] .topbar[data-navbarbg='skin1'] {
	background: #fff;
}
.navbar-dark .navbar-nav .nav-link {
	color: #707070;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
	color: #707070;
}
.page-wrapper {
	background: #ffffff;
}
