body,
html {
	font-family: 'Be Vietnam';
}
.error-box {
	height: 100%;
	position: fixed;
	background: url(../../assets/images/background/auth-bg.jpg) no-repeat center center #fff;
	background-size: cover;
	width: 100%;
}
.text-grey {
	color: #212529;
}
a:hover,
a:focus {
	color: #212529;
}
#main-wrapper[data-layout='vertical'] .topbar .navbar-collapse[data-navbarbg='skin1'],
#main-wrapper[data-layout='vertical'] .topbar[data-navbarbg='skin1'],
#main-wrapper[data-layout='horizontal'] .topbar .navbar-collapse[data-navbarbg='skin1'],
#main-wrapper[data-layout='horizontal'] .topbar[data-navbarbg='skin1'] {
	background: #fff;
}
.navbar-dark .navbar-nav .nav-link {
	color: #707070;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
	color: #707070;
}
.page-wrapper {
	background: #ffffff;
}
.card .card-title {
	font-family: Be Vietnam;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	color: #6b6c72;
}
.custom-label {
	font-style: normal;
	font-weight: 550;
	font-size: 14px;
	line-height: 20px;
	color: #2b7ec1;
}
.flex-container {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.flex-item {
	flex-basis: '33%';
}
.token-counts {
	font-style: normal;
	font-weight: 545;
	font-size: 24px;
	line-height: 35.06px;
	color: #6b6c72;
	margin-bottom: 0;
}
.token-label {
	font-style: normal;
	font-weight: 548;
	font-size: 14px;
	line-height: 20px;
	color: #9b9b9b;
}
.v-border {
	height: 50px;
	border-left: 2px solid rgba(43, 126, 193, 0.5);
}
.active {
	background: rgba(43, 126, 193, 0.1);
	border-right: 3px solid #2b7ec1;
}
.card {
	box-shadow: 0px 4px 15px 3px rgba(196, 196, 196, 0.15);
	-moz-box-shadow: 0px 4px 15px 3px rgba(196, 196, 196, 0.15);
	-o-box-shadow: 0px 4px 15px 3px rgba(196, 196, 196, 0.15);
}
.left-sidebar {
	top: 12px;
}
.sidebar-nav ul li {
	margin-top: 10px;
}
