<div id="<%=id%>" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Beneficiary</h4>
      </div>
      <div class="modal-body">
        <form action="" method="post" id="frmTest">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label><b>Aid Project:</b></label>
                <select
                  id="aid_select"
                  value=""
                  name="aidId"
                  class="form-control"
                  data-validation="required"
                ></select>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <label for="eth_address">Name</label>
              <input type="text" class="form-control" name="name" required />
            </div>
            <div class="col-md-12 form-group">
              <label for="eth_address">Phone</label>
              <input type="number" class="form-control" name="phone" required />
            </div>
            <div class="col-md-12 form-group">
              <label for="eth_address">Email</label>
              <input type="text" class="form-control" name="email" required />
            </div>
            <div class="col-md-12 form-group">
              <label for="eth_address">Address</label>
              <input type="text" class="form-control" name="address" required />
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-2">
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                Close
              </button>
              <button class="btn btn-primary btn-sm" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
