<!DOCTYPE html>
<html>
  <head>
    <% include ../_layouts/head %>
    <link href="/css/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="/css/plugins/select2/select2.min.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>INSPINIA | Dashboard v.4</title>

    <!-- <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="css/animate.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" /> -->
  </head>

  <body class="top-navigation">
    <div id="wrapper">
      <div id="page-wrapper" class="gray-bg">
        <div class="wrapper wrapper-content">
          <div class="container">
            <div id="currentAccount" class="alert alert-info"></div>
            <div class="row">
              <div class="col-lg-12">
                <div class="ibox">
                  <div class="ibox-title">
                    <h5>List Of Projects</h5>
                  </div>
                  <div class="ibox-content">
                    <div class="row">
                      <!-- <div class="col-sm-9 m-b-xs">
                        <div data-toggle="buttons" class="btn-group btn-group-toggle">
                          <label class="btn btn-sm btn-white">
                            <input type="radio" id="option1" name="options" /> Day
                          </label>
                          <label class="btn btn-sm btn-white active">
                            <input type="radio" id="option2" name="options" /> Week
                          </label>
                          <label class="btn btn-sm btn-white">
                            <input type="radio" id="option3" name="options" /> Month
                          </label>
                        </div>
                      </div> -->
                    </div>
                    <div class="table-responsive">
                      <table id="project-table" class="table table-striped">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Project Name</th>
                            <th>Hosted By</th>
                            <th>Token Address</th>

                            <!-- <th>Expiry Date</th> -->
                            <th>Action</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="float-right">10GB of <strong>250GB</strong> Free.</div>
          <div><strong>Copyright</strong> Example Company &copy; 2014-2018</div>
        </div>
      </div>
    </div>
    <% include ../_layouts/foot %>
    <script
      type="text/javascript"
      language="javascript"
      src="/js/plugins/datatables/datatables.min.js"
    ></script>
    <script src="/js/plugins/select2/select2.min.js"></script>
    <script src="/js/app/app.js"></script>
  </body>
</html>
