<div id="<%=id%>" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Beneficiary</h4>
      </div>
      <div class="modal-body">
        <form action="" method="post" id="frmTest">
          <div class="row">
            <div class="col-md-12 form-group">
              <label for="eth_address">OTP</label>
              <input type="text" class="form-control" name="otp" required />
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-2">
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                Close
              </button>
              <button class="btn btn-primary btn-sm" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
