<!DOCTYPE html>
<html>
  <head>
    <% include ../_layouts/head %>
    <link href="/css/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="/css/plugins/select2/select2.min.css" rel="stylesheet" />
    <style>
      .select2-container--default .select2-selection--single {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        border-radius: 1px;
      }

      .select2-container .select2-selection--single {
        height: 30px;
      }
    </style>
    <script>
      var aidId = "<%= data.aid_id%>";
    </script>
  </head>

  <body class="md-skin">
    <% include ../_layouts/header %>
    <div id="wrapper">
      <% include ../_layouts/sidebar %>
      <div id="page-wrapper" class="gray-bg">
        <% include ../_layouts/search %>
        <div class="wrapper wrapper-content animated fadeInRight">
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title">
                  <div class="row">
                    <div class="col-sm-12">
                      <h2>
                        Aid Details
                      </h2>
                    </div>
                  </div>
                </div>
                <div
                  id="AgencyDetailsPanel"
                  class="ibox-content"
                  style="padding-top: 0px; min-height: 400px;"
                >
                  <form action="" method="post">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group--float">
                          <label><b>Aid Name</b></label>
                          <input
                            type="text"
                            name="name"
                            value=""
                            class="form-control"
                            data-validation="required"
                          />
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group form-group--float">
                          <label><b>Ethereum Address</b></label>
                          <input
                            type="text"
                            name="eth_address"
                            value=""
                            class="form-control"
                            data-validation="ethereum address required"
                          />
                        </div>
                      </div>
                    </div>

                    <div id="tokenDetail" class="form-group row">
                      <label class="col-sm-2 col-form-label"><b>Token Details</b></label>

                      <div class="col-sm-6">
                        <div class="input-group m-b">
                          <div class="input-group-prepend">
                            <span class="input-group-addon">Token Locked</span>
                          </div>
                          <input
                            readonly
                            id="tokenLocked"
                            name="tokenName"
                            type="text"
                            placeholder=""
                            class="form-control"
                          />
                        </div>
                        <div class="input-group m-b">
                          <span class="input-group-prepend">
                            <button id="btnLoadToken" type="button" class="btn btn-primary">
                              Load Token
                            </button>
                          </span>
                          <input id="loadToken" type="number" class="form-control" />
                        </div>
                      </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                      <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-white btn-sm" type="cancel">Cancel</button>
                        <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include ../_layouts/foot %>
    <script
      type="text/javascript"
      language="javascript"
      src="/js/plugins/datatables/datatables.min.js"
    ></script>
    <script src="/js/plugins/select2/select2.min.js"></script>
    <script src="/js/app/aid.details.js"></script>
  </body>
</html>
