<!DOCTYPE html>
<html>
  <head>
    <% include ../_layouts/head %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>INSPINIA | Wizards</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet" />
    <link href="/css/plugins/steps/jquery.steps.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="wrapper ">
      <div class="row border-bottom"></div>

      <div class="row">
        <div class="col-lg-12">
          <div class="ibox">
            <!-- <div class="ibox-title">
              <h5>Wizard with Validation</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <li><a href="#" class="dropdown-item">Config option 1</a></li>
                  <li><a href="#" class="dropdown-item">Config option 2</a></li>
                </ul>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div> -->
            <div id="agencyRegister" class="ibox-content">
              <h2>
                Register Your Agency
              </h2>
              <p>
                Fill up the form to register your agency for Cash-Aid Programme .
              </p>

              <form id="form" action="#" class="wizard-big">
                <h1>Account Information</h1>
                <fieldset>
                  <h2>Account</h2>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Agency Name *</label>
                        <input id="name" name="name" type="text" class="form-control" />
                      </div>

                      <div class="form-group">
                        <label>Email *</label>
                        <input id="email" name="email" type="text" class="form-control email" />
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Password *</label>
                        <input id="password" name="password" type="text" class="form-control" />
                      </div>
                      <div class="form-group">
                        <label>Confirm Password *</label>
                        <input
                          id="confirm"
                          name="confirm"
                          type="text"
                          class="form-control required"
                        />
                      </div>
                    </div>
                  </div>
                </fieldset>
                <h1>Blockchain</h1>
                <fieldset>
                  <h2>Blockchain Address</h2>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Ethereum Address *</label>
                        <input
                          id="ethAddress"
                          name="eth_address"
                          type="text"
                          class="form-control"
                        />
                      </div>

                      <button
                        id="btnGenerateAddress"
                        type="button"
                        class="btn btn-block btn-outline btn-primary"
                      >
                        Generate Random Address
                      </button>

                      <h3 id="seedPhrase">Seed Phrase:</h3>

                      <h3 id="address">Address:</h3>
                      <h3 id="privateKey">Private Key:</h3>
                    </div>
                    <!-- <div class="col-lg-6">
                      <div class="form-group">
                        <button type="button" class="btn btn-block btn-outline btn-primary">
                          Generate Random Address
                        </button>
                        <h3>Seed Phrase:</h3>
                        <h3>Address:</h3>
                        <h3>Private Key:</h3>
                      </div>
                    </div> -->
                  </div>
                </fieldset>

                <h1>Token</h1>
                <fieldset>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Token name *</label>
                        <input id="tokenName" name="tokenName" type="text" class="form-control" />
                      </div>
                      <div class="form-group">
                        <label>Symbol *</label>
                        <input id="symbol" name="symbol" type="text" class="form-control" />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Total Supply *</label>
                        <input id="supply" name="supply" type="number" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <!-- <div class="text-center" style="margin-top: 120px;">
                    <h2>You did it Man :-)</h2>
                  </div> -->
                </fieldset>

                <h1>Finish</h1>
                <fieldset>
                  <h2>Terms and Conditions</h2>
                  <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required" />
                  <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="float-right">10GB of <strong>250GB</strong> Free.</div>
        <div><strong>Copyright</strong> Example Company &copy; 2014-2018</div>
      </div>
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Mainly scripts -->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <!-- <script src="/js/popper.min.js"></script> -->
    <!-- <script src="/js/bootstrap.js"></script> -->
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>

    <!-- Steps -->
    <script src="/js/plugins/steps/jquery.steps.min.js"></script>

    <!-- Jquery Validate -->
    <script src="/js/plugins/validate/jquery.validate.min.js"></script>

    <script src="/js/app/agency.registerWizard.js"></script>
  </body>
</html>
