<!DOCTYPE html>
<html>
  <head>
    <% include ../_layouts/head %>
    <link href="/css/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link
      href="https://cdn.datatables.net/select/1.3.1/css/select.bootstrap4.min.css"
      rel="stylesheet"
    />
    <link href="/css/plugins/select2/select2.min.css" rel="stylesheet" />
    <!-- 
    <link href="/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
      rel="stylesheet"
    /> -->
    <style>
      .alignstatus {
        align-self: center;
      }
      .ibox-title {
        padding: 15px 45px 0px 35px;
      }
      .dataTables_wrapper {
        padding-bottom: 0px;
      }
      .inmodal .modal-header {
        padding: 20px 15px 10px;
      }

      .select2-container--default .select2-selection--single {
        background-color: #fff;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 1px solid #e5e6e7;
        border-right: 1px solid #e5e6e7;
        border-radius: 1px;
      }

      .select2-container .select2-selection--single {
        height: 30px;
      }
      /* .chosen-container .chosen-container-multi {
        width: 80% !important;
      } */
    </style>
  </head>

  <body class="md-skin">
    <% include ../_layouts/header %>
    <div id="wrapper">
      <% include ../_layouts/sidebar %>
      <div id="page-wrapper" class="gray-bg">
        <% include ../_layouts/search %>
        <div class="wrapper wrapper-content animated fadeInRight">
          <div class="row">
            <div class="col-lg-6">
              <div class="ibox ">
                <div class="ibox-title">
                  <div class="row">
                    <div class="col-sm-8">
                      <h3>
                        <i class="fa fa-sitemap"></i>&nbsp; Available Roles<br />
                        <small>Please select a role to display available permissions.</small>
                      </h3>
                    </div>
                    <div
                      class="col-sm-4"
                      style="display:flex; align-items: flex-end;justify-content: flex-end;"
                    >
                      <button class="btn btn-primary btn-xs" id="btnRoleAdd">
                        <i class="fa fa-plus">&nbsp;</i>Add Roles
                      </button>
                    </div>
                  </div>
                </div>
                <div class="ibox-content" style="padding-top:0px;min-height:465px;">
                  <div class="table-responsive">
                    <table
                      class="table table-striped table-bordered table-hover display"
                      id="rolesTable"
                    >
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Expiry Date</th>
                          <th>Is System</th>
                          <th width="80" style="text-align:center">Action</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ibox" id="rolePermissionPanel" style="display: none;">
                <div class="ibox-title">
                  <div class="row">
                    <div class="col-sm-8">
                      <h3>
                        <i class="fa fa-key"></i>&nbsp; Permissions for
                        <span
                          class="title-role-name"
                          style="border-bottom: 1px dashed #999;display: inline;"
                        ></span>
                        <small class="badge badge-warning" style="font-weight: normal"></small>
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="ibox-content" style="padding-top:5px;min-height:485px;">
                  <div class="row" style="margin:0px 0px 3px 0px">
                    <div class="col-10">
                      <select
                        class="form-control"
                        name="permissions"
                        multiple="multiple"
                        data-placeholder="Search permissions for the role"
                      >
                      </select>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-primary btn-md" id="btnAddPermissions">
                        <i class="fa fa-plus">&nbsp;</i>Add
                      </button>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table
                      class="table table-striped table-bordered table-hover"
                      id="rolePermissionTable"
                    >
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th width="80" style="text-align:center">Action</th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include ../_layouts/foot %>
    <script
      type="text/javascript"
      language="javascript"
      src="/js/plugins/datatables/datatables.min.js"
    ></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script src="/js/plugins/select2/select2.min.js"></script>
    <script src="/js/app/role.js"></script>
  </body>
</html>

<div
  class="modal inmodal fade"
  id="addRole"
  role="dialog"
  data-backdrop="static"
  data-keyboard="false"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" id="searchPermissions">
        <h4 class="modal-title">Add Role</h4>
      </div>
      <form method="post" role="form" id="frmAddRole">
        <div class="modal-body" style="border-top: 1px solid #e5e6e7;padding-bottom: 10px;">
          <div class="row">
            <label class="col-md-2 col-form-label">Name</label>
            <div class="col-md-4">
              <input type="text" class="form-control" name="name" required />
            </div>
            <label class="col-md-2 col-form-label">Expiry Date</label>
            <div class="col-md-4">
              <input type="date" class="form-control" name="expiry_date" />
            </div>
          </div>
          <br />
          <div class="row">
            <label class="col-md-2 col-form-label">Permissions</label>
            <div class="col-md-10">
              <select
                class="form-control"
                name="permissions"
                multiple="multiple"
                data-placeholder="Search permissions for the role"
                required
              >
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-sm">
            Submit
          </button>
          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
