<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RS Token</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
   
    <div class="container" style="width: 650px;">
     
      <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">RS TOKEN</h1>
            <div id="tokenAddress" class="alert alert-info" role="alert">
        
            </div>
            <hr/>
            <br/>
            
        </div>
        
        <div id="loader">
          <p class="text-center">Loading... </p>
          <div class="alert alert-warning" role="alert">
            Please connect your metamask wallet to your browser!
          </div>

        
          <button type="button" class="btn btn-outline-info" 
          onclick=" window.location.href = 'https://www.youtube.com/watch?v=ZIGUC9JAAw8'">
          How to MetaMask
        </button>
        <div style="margin-top: 4%;" class="alert alert-info" role="alert">
          Add Network with custom RPC: <strong>http://157.245.125.194:8501</strong>
        </div>
        </div>



  <!-- admin panel -->
      <div id="adminPanel" class="text-center" style="display: none;">
  <h5>
    Introducing "RS Token" (RS)!
    You currently have <span class="RS-balance"></span>&nbsp;RS.
  </h5>
  <br/>
  <form onSubmit="App.registerBeneficiary(); return false;" role="form">
    <div class="form-group">
      <div class="input-group">
        <input id="beneficiary" class="form-control input-lg" type="number" >
        </input>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-lg">Register Beneficiary</button>
        </span>
      </div>
    </div>
  </form>
  <form onSubmit="App.registerVendor(); return false;" role="form">
    <div class="form-group">
      <div class="input-group">
        <input id="vendor" class="form-control input-lg" type="text">
        </input>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-lg">Register Vendor</button>
        </span>
      </div>
    </div>
  </form>
  <form onSubmit="App.checkToken(); return false;" role="form">
    <div class="form-group">
      <div class="input-group">
        <input id="check" class="form-control input-lg" type="string">
        </input>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-lg">Check Token</button>
        </span>
      </div>
    </div>
  </form>
  <form onSubmit="App.issueToken(); return false;" role="form" >
    <div class="form-group">
      <label for="phoneNumber">Phone number</label>
      <input type="phone" class="form-control" id="phoneNumber" aria-describedby="emailHelp">
     
    </div>
    <div class="form-group">
      <label for="issueAmount">Amount</label>
      <input type="number" class="form-control" id="issueAmount">
    </div>
    <button type="submit" class="btn btn-primary">Issue Token</button>
  </form>

  <form onSubmit="App.signTransaction(); return false;" id="signForm" role="form">
    <div class="form-group">
      <div class="input-group">
        <input id="message" class="form-control input-lg" type="text">
        </input>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-lg">sign message</button>
        </span>
      </div>
    </div>
  </form>
  <br>
 
  <div class="progress">
    <div id="progress" class="progress-bar progress-bar-striped active" aria-valuemin="0" aria-valuemax="100">
    </div>
  </div>
  <hr>
  <!-- <p id="accountAddress"></p> -->
  
  <!-- <div id="accountAddress" class="alert alert-success" role="alert">
   -->
  </div>
     </div>


  <!-- admin panel -->


  <!-- vendor panel -->
        <div id="vendorPanel" class="text-center" style="display: none;">
          <h5>
            Introducing "RS Token" (RS)!
           You currently have <span class="RS-balance"></span>&nbsp;RS.
          </h5>
          <br/>
          <form onSubmit="App.claimToken(); return false;" role="form" >
            <div class="form-group">
              <label for="phoneNumber">Phone number</label>
              <input type="phone" class="form-control" id="phone" aria-describedby="emailHelp">
             
            </div>
            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="number" class="form-control" id="amount">
            </div>
            <button type="submit" class="btn btn-primary">Claim Token</button>
          </form>
          <hr>
          <hr> 
          <form onSubmit="App.getToken(); return false;" role="form" >
            <div class="form-group">
              <label for="beneficiaryNumber">Phone number</label>
              <input type="phone" class="form-control" id="beneficiaryNumber" aria-describedby="emailHelp">
             
            </div>
            <div class="form-group">
              <label for="otp">OTP</label>
              <input type="text" class="form-control" id="otp">
            </div>
            <button type="submit" class="btn btn-primary">Receive Tokens</button>
          </form>


          <br>
           <div class="progress">
              <div id="progress" class="progress-bar progress-bar-striped active" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
         
          <hr>
          <!-- <p id="accountAddress"></p> -->
          
          
          
          </div>
          <div id="accountAddress" class="alert alert-success" role="alert">
        </div>
  <!-- vendor panel -->

 
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js" ></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/truffle-contract.min.js"></script>
    <!-- <script src="dist/bundle.js"></script> -->
    <script src="js/app/ctp.js"></script>
    <!-- <script src="js/app.js"></script> -->
  </body>
</html>
